Debug/
Release/
Library/
TGS_Project02.zip
exe.zip
exe/Project.exe
exe/Resource/StreamingAssets/Block5.png
exe/Resource/StreamingAssets/UI/TitleScene/UI_Title.csv
exe/Resource/StreamingAssets/UI/TitleScene/UI_Title_Button.csv
exe/Resource/StreamingAssets/stage1.csv
exe/Resource/Texture/Enemys/Enemy01.png
exe/Resource/Texture/Enemys/Enemy1.png
exe/Resource/Texture/Enemys/Enemy2_4.png
exe/Resource/Texture/Enemys/Enemy3.png
exe/Resource/Texture/Player/jiki_clip.png
exe/Resource/Texture/Player/jiki_close.png
exe/Resource/Texture/Player/jiki_open.png
exe/Resource/Texture/UI/Block5.png
exe/Resource/Texture/UI/Play/back_ground.png
exe/Resource/Texture/UI/Play/life2.png
exe/Resource/Texture/UI/Play/score.png
exe/Resource/Texture/UI/Play/score2.png
exe/Resource/Texture/UI/Play/stage.png
exe/Resource/Texture/UI/Play/stage2.png
exe/Resource/Texture/UI/Tile3.png
exe/Resource/Texture/UI/Title/credit.png
exe/Resource/Texture/UI/Title/gameend.png
exe/Resource/Texture/UI/Title/gamestart.png
exe/Resource/Texture/UI/Title/logo.png
exe/Resource/Texture/UI/Title/tutorial.png
exe/Resource/Texture/UI/back_ground.png
exe/Resource/Texture/UI/black_screen.png
exe/Resource/Texture/UI/life.png
exe/Resource/Texture/UI/player.png
exe/Resource/Texture/UI/wall.png
exe/Resource/Texture/UI/white.png
exe/Resource/Texture/wall.png
exe/Resource/white.png
Project/Project/Resource/StreamingAssets/stage2.csv
